{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <h1>Liste des utilisateurs</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Rôles</th>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.FirstName }}</td>
                <td>{{ user.LastName }}</td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}"><span class="material-icons">visibility</span></a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}"><span class="material-icons">create</span></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucune donnée trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
