{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-6">
            <h1>Utilisateur</h1>

        </div>
        <div class="col-6 text-right">

            <a href="{{ path('user_index') }}" class="btn btn-primary text-white">Retourner à la liste</a>
            {{ include('app/user/_delete_form.html.twig') }}
            <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-primary text-white mb-3">Editer</a>


        </div>
    </div>



    <table class="table table-striped ">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ user.id }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <th>Roles</th>
            <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
        </tr>
        <tr>
            <th>Prénom</th>
            <td>{{ user.FirstName }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ user.LastName }}</td>
        </tr>
        </tbody>
    </table>

{% endblock %}
