{% extends 'base.html.twig' %}
{#{% form_theme registrationForm 'bootstrap_4_layout.html.twig' %}#}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>{% trans %}Inscription{% endtrans %}</h1>

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.FirstName, {
        label: 'Prénom' | trans
    }) }}
    {{ form_row(registrationForm.LastName, {
        label: 'Nom' | trans
    }) }}

    {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe' | trans
        }) }}

        <button type="submit" class="btn btn-primary text-white d-block mx-auto">{% trans %}S'inscrire{% endtrans %}</button>
    {{ form_end(registrationForm) }}
{% endblock %}
