{% extends 'base.html.twig' %}

{% block title %}Liste des groupes{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-6">
            <h1>Liste des groupes</h1>

        </div>

        <div class="col-6 text-right">
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('band_new') }}" class="btn btn-primary text-white">Créer</a>
            {% endif %}
        </div>
    </div>


    <div class="row">


        {% for band in bands %}

            <a class="col-md-4 col-12 text-black-50 pt-3" href="{{ path("band_show", {'id': band.id}) }}">
                <div class="card h-100">
                    <img class="card-img-top" src="{{ asset(band.picturePath) }}" alt="Image groupe">
                    <div class="card-body">
                        <h3 class="card-title text-uppercase">{{ band.name }}</h3>
                        <h4 class="card-title">Style : {{ band.style }}</h4>
                        <p class="card-text">
                            Le groupe {{ band.name }} créé en {{ band.yearOfCreation }} est composé de {{ band.members |length }} membres.
                            {% if band.lastAlbumName %}
                                <br>Son dernier album est {{ band.lastAlbumName }}.
                            {% endif %}
                        </p>
                    </div>
                    <div class="card-footer text-uppercase text-center">
                        En savoir plus
                    </div>
                </div>
            </a>


        {% else %}

            <div class="card col-12">
                <div class="card-body">
                    Pas de groupes existants.
                </div>
            </div>

        {% endfor %}
    </div>



{% endblock %}
