{% extends 'base.html.twig' %}

{% block title %}{% trans %}Liste des groupes{% endtrans %}{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-6">
            <h1>{% trans %}Liste des groupes{% endtrans %}</h1>

        </div>

        <div class="col-6 text-right">
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('band_new') }}" class="btn btn-primary text-white">{% trans %}Créer{% endtrans %}</a>
            {% endif %}
        </div>
    </div>


    <div class="row">


        {% for band in bands %}

            <a class="col-md-4 col-12 text-black-50 pt-3" href="{{ path("band_show", {'id': band.id}) }}">
                <div class="card h-100">
                    <img class="card-img-top" src="{{ asset(band.picturePath) }}" alt="Image groupe">
                    <div class="card-body">
                        <h3 class="card-title text-uppercase">{{ band.name }}</h3>
                        <h4 class="card-title">{% trans %}Style{% endtrans %} : {{ band.style }}</h4>
                        <p class="card-text">
                            {% trans with {'%name%': band.name, '%yearOfCreation%': band.yearOfCreation, '%members%': band.members |length} %}
                            Le groupe { name } créé en { yearOfCreation } est composé de { members } membres{% endtrans %}.
                            {% if band.lastAlbumName %}
                                <br> {% trans with {'%lastAlbumName%': band.lastAlbumName} %}Son dernier album est { lastAlbumName }{% endtrans %}.
                            {% endif %}
                        </p>
                    </div>
                    <div class="card-footer text-uppercase text-center">
                        {% trans %}En savoir plus{% endtrans %}
                    </div>
                </div>
            </a>


        {% else %}

            <div class="card col-12">
                <div class="card-body">
                    {% trans %}Pas de groupes existants.{% endtrans %}
                </div>
            </div>

        {% endfor %}
    </div>



{% endblock %}
