{% extends 'base.html.twig' %}

{% block title %}{% trans %}Groupe{% endtrans %}{% endblock %}

{% block body %}


    <div class="row">
        <div class="col-6">
            <h3>{% trans %}Le groupe{% endtrans %} {{ band.name }}</h3>
        </div>

        <div class="col-6 text-right">
            <a href="{{ path('band_index') }}" class="btn btn-primary text-white my-1">{% trans %}Retour à la liste{% endtrans %}</a>

            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('band_edit', {'id': band.id}) }}" class="btn btn-primary text-white my-1">{% trans %}Editer{% endtrans %}</a>
                {{ include('app/band/_delete_form.html.twig') }}
            {% endif %}
        </div>
    </div>

    <img src="{{ asset(band.picturePath) }}" alt="logo groupe" class="img-thumbnail w-25 mx-auto d-block">

    <h5>{% trans with {'%membersLength%':  band.members | length } %}Le groupe est composé de { membersLength } membres qui sont :{% endtrans %}</h5>

    <div class="row">

        {% for member in band.members %}
            <div class="col-sm-3 mb-3">
                <div class="card h-100">
                    <img src="{{ asset(member.picturePath) }}" class="card-img-top" alt="Photo membre">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{{ path('member_show', {'id': member.id}) }}"> {{ member.name }} {{ member.firstName }}</a></h5>
                        <p class="card-text">{% trans %}Né le{% endtrans %} {{ member.birthDate |date('d-m-Y') }}</p>
                    </div>
                    <div class="card-footer">
                        {{ member.job }}
                    </div>
                </div>
            </div>
        {% else %}
            <div class="card">
                <div class="card-body">
                    <p class="card-text">{% trans %}Aucun membre pour l'instant.{% endtrans %}</p>
                </div>
            </div>

        {% endfor %}
    </div>

    <h5>{% trans %}Les prochains concerts à venir : {% endtrans %}</h5>

    <div class="row">

        {% for concert in future_concert %}
            <div class="col-sm-3 mb-3">
                <a class="text-black-50" href="{{ path("concert_show", {'id': concert.id}) }}">

                    <div class="card">
                        <img class="card-img-top" src="{{ asset(concert.band.picturePath) }}" alt="Image groupe">
                        <div class="card-body">
                            <h3 class="card-title text-uppercase">{{ concert.tourName }}</h3>
                            <h4 class="card-title">Le {{ concert.date | date('d/m/Y') }}</h4>
                            <p>
                                {% trans %}Le groupe{% endtrans %} <a href="{{ path('band_show', {'id': concert.band.id}) }}" class="text-primary">{{ concert.band.name }}</a>
                                {% trans with {'%date%': concert.date | date('d/m/Y')} %}
                                en concert le { date }{% endtrans %}.
                                <br>{% trans with {'%capacity%': concert.hall.capacity} %}Réservez vos places maintenant, il n'y en a que { capacity } disponibles{% endtrans %} !
                            </p>
                            <p class="card-text btn btn-secondary btn-block">{{ concert.hall.name }}</p>
                        </div>
                        <div class="card-bTOody text-uppercase text-center">{% trans %}En savoir plus{% endtrans %}</div>
                    </div>
                </a>
            </div>
        {% else %}
            <div class="card col-12">
                <div class="card-body">
                    <p class="card-text">{% trans %}Aucun concert pour l'instant.{% endtrans %}</p>
                </div>
            </div>

        {% endfor %}
    </div>

{% endblock %}
