{% extends 'base.html.twig' %}

{% block title %}{% trans %}Concert{% endtrans %}{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-6">
            <h1>{{ concert.tourName }}</h1>
        </div>

        <div class="col-6 text-right">
            <a href="{{ path('concert_index') }}" class="btn btn-primary text-white">{% trans %}Retour à la liste{% endtrans %}</a>


            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('concert_edit', {'id': concert.id}) }}" class="btn btn-primary text-white">{% trans %}Editer{% endtrans %}</a>
                {{ include('app/concert/_delete_form.html.twig') }}
            {% endif %}
        </div>
    </div>



    <div class="row pb-5">
        <div class="col-12 col-md-6">
            <h3>{{ concert.date ? concert.date|date('Y-m-d') : '' }}</h3>
            <p>
                {% trans %}Le groupe{% endtrans %} <a href="{{ path('band_show', {'id': concert.band.id}) }}" class="text-primary">{{ concert.band.name }}</a>
                {% trans with {'%date%': concert.date | date('d/m/Y')} %}
                en concert le { date }{% endtrans %}.
                <br>{% trans with {'%capacity%': concert.hall.capacity} %}Réservez vos places maintenant, il n'y en a que { capacity } disponibles{% endtrans %} !
            </p>

            <h4>{% trans %}Infos pratiques{% endtrans %}</h4>

            <p>{% trans %}Salle de concert{% endtrans %} : {{ concert.hall.name }}</p>
            <p>{% trans %}Hall{% endtrans %} : {{ concert.hall.concertHall.name }}</p>
            <p>{% trans %}Présentation{% endtrans %} : {{ concert.hall.concertHall.presentation }}</p>
            <p>{% trans %}Ville{% endtrans %} : {{ concert.hall.concertHall.city }}</p>
            
        </div>
        <div class="col-12 col-md-6">
            <img class="rounded mx-auto d-block w-100" src="{{ asset(concert.band.picturePath) }}" alt="Image groupe">

        </div>
    </div>

    


{% endblock %}
{% block footer %}
    {{ include("app/includes/footer.html.twig") }}

{% endblock %}

