{% extends 'base.html.twig' %}

{% block title %}Liste des musiciens{% endblock %}

{% block body %}


    <div class="row">
        <div class="col-6">
            <h1>Liste des musiciens</h1>

        </div>

        <div class="col-6 text-right">
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('member_new') }}" class="btn btn-primary text-white">Créer</a>
            {% endif %}
        </div>
    </div>


    <div class="row">


        {% for member in members %}
            <div class="col-md-4 col-12 mb-3">
                <div class="card h-100">
                    <img src="{{ asset(member.picturePath) }}" class="card-img-top" alt="Photo membre">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{{ path('member_show', {'id': member.id}) }}"> {{ member.name }} {{ member.firstName }}</a></h5>
                        <p class="card-text">Né le {{ member.birthDate |date('d-m-Y') }}</p>
                    </div>
                    <div class="card-footer">
                        {{ member.job }}
                    </div>
                </div>
            </div>


        {% else %}

            <div class="card">
                <div class="card-body">
                    Pas de musiciens existants.
                </div>
            </div>

        {% endfor %}
    </div>







    {{ knp_pagination_render(members) }}

{% endblock %}
